%% -*- mode: erlang; erlang-indent-level: 2; indent-tabs-mode: nil -*-
[
 %% SASL config
  {sasl, [ {sasl_error_logger,        {file, "log/sasl-error.log"}}
         , {errlog_type,              error}
         , {error_logger_mf_dir,      "log/sasl"}      % Log directory
         , {error_logger_mf_maxbytes, 10485760}   % 10 MB max file size
         , {error_logger_mf_maxfiles, 5}          % 5 files max
         ]
  }
, {rett, [ {web_ip,   "0.0.0.0"}  %% what IP to listen on (0.0.0.0 = listen on all)
         , {web_port, 8642}
         , {log_dir,  "priv/log"}
         ]
  }
].

